@use "../abstracts/" as *;

.main {
	background-color: $secondary-color;
}

.container {
	width: 100%;
	margin-inline: auto;
	&__1200 {
		max-width: 1200px;
	}
	&__1300 {
		max-width: 1300px;
	}
	&__1600 {
		max-width: 1600px;
	}
}
