$main-color: #04390d;
$dark-main-1: #032e0a;
$dark-main-2: #022208;
$dark-main-3: #021705;
$light-main-1: #36613d;
$light-main-2: #68886e;

$main-cta: #f38a0c;
$dark-cta-1: #c26e0a;
$dark-cta-2: #925307;
$dark-cta-3: #613705;
$light-cta-1: #f49624;

$body-color: #EAE1C6;

$white-color: #fff;
$light-gray-e: #eee;
$light-gray-d: #ddd;
$light-gray-c: #ccc;
$light-gray-b: #bbb;
$light-gray-a: #aaa;

$black-color: #000;
$dark-gray-1: #111;
$dark-gray-2: #222;
$dark-gray-3: #333;
$dark-gray-4: #444;
$dark-gray-5: #555;
$dark-gray-6: #666;

$main-green-gradient: linear-gradient(180deg, $main-color, $dark-main-3);
// $transparent-green-gradient: linear-gradient(90deg, $dark-main-1, transparent);
$main-orange-gradient: linear-gradient(180deg, $main-cta, $dark-cta-3);
