@use "../abstracts/" as *;

.button {
	margin-bottom: 1rem;
	color: $light-gray-e;
	background-color: $cta-main;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5rem;
	transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
	&:hover {
		transform: translateY(-5px) scale(1.03);
		background-color: $cta-light-1;
		box-shadow: 0 0 2rem rgba($cta-dark-2, 0.7);
	}
	&:active {
		transform: translateY(-3px);
		box-shadow: 0 0.2rem 0.5rem rgba($black-color, 0.7);
	}
	&__cta {
		&,
		&:link,
		&:visited {
			padding: 1rem 4rem;
			font-size: $font-size-16;
		}
		@media (min-width: 772px) {
			padding: 1.5rem 6rem;
			font-size: $font-size-20;
		}
	}
	&__buynow{
		padding: .5rem 0;
		font-size: $font-size-12;
		@media(min-width: 772px){
			padding: 1rem 4rem;
			font-size: $font-size-16;
		}
	}
}
