@use "../abstracts/" as *;

.aboutus {
	background-color: $body-color;
	&__info {
		margin: 1rem;
		padding: 1rem;
		font-size: $font-size-14;
	}
	&__heading {
		margin: 2rem 0;
	}
	&__text {
		color: $dark-gray-1;
	}
	&__img {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
	@media (min-width: 992px) {
		&__info {
			margin: 3rem;
		}
		&__text {
			font-size: $font-size-16;
		}
	}
    @media(min-width: 1200px){
        &__info{
            margin-right: 10rem;
        }
    }
}
