@use '../abstracts/' as *;

.faq{
    padding: 3rem;
    background-color: $main-color;
    border-top: 2px solid $main-dark-3;
    &__heading{
        margin-bottom: 2rem;
        text-align: center;
        color: $secondary-color;
        text-shadow: 0 .5rem .5rem $black-color;
    }
    &__box{
        position: relative;
        margin: 1rem auto;
        padding: 2rem;
        width: 100%;
        background-color: $main-light-1;
        border: 1px solid $main-dark-3;
        border-radius: 5px;

    }
    &__question{
        font-size: $font-size-16;
        width: 70%;
    }
    &__text{
        display: none;
        margin-top: 1rem;
        font-size: $font-size-14;
    }
    &__question, &__text{
        color: $dark-gray-1;
    }
    &__active > &__text{
        display: block;
    }
    &__icon{
        padding: .5rem;
        height: 3rem;
        width: 3rem;
        font-size: $font-size-20;
        color: $main-light-2;
        background-color: $main-dark-2;
        border-radius: 50%;
        transition: color .2s, background-color .2s;
        &:hover{
            color: $main-dark-2;
            background-color: $cta-main;
        }
    }
    &__toggle{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        background-color: $main-light-1;
    }
    &__times{
        display: none;
    }
    &__active &__times{
        display: block;
    }
    &__active &__chevron{
        display: none;
    }
}