@use "../abstracts/" as *;

.nav{
	background-image: $main-green-gradient;
	&__desktop{
		display: none;
	}
	&__mobile{		
		position: relative;
		display: flex;
		width: 100%;
		z-index: 100;
	}
	&__burgerBtn {
		position: absolute;
		top: 50%;
		left: 2rem;
		padding: 1rem;
		transform: translateY(-50%);
		background-color: $light-main-1;
		border: 1px solid transparent;
		border-radius: 5px;
	}
	&__burgerBox {
		position: relative;
		height: 3rem;
		width: 4rem;
	}
	&__burgerBars,
	&__burgerBars::before,
	&__burgerBars::after {
		position: absolute;
		left: 0;
		height: 3px;
		width: 100%;
		background-color: $light-gray-e;
	}
	&__burgerBars {
		&::after {
			content: "";
			top: 13px;
		}
		&::before {
			content: "";
			top: 26px;
		}
	}
	&__close {
		position: absolute;
		top: 2rem;
		left: 2rem;
		font-size: $font-size-36;
		padding-inline: 1.5rem;
		border-radius: 5px;
		color: $light-gray-e;
		background-color: $light-main-1;
	}
	&__close:focus,
	&__burgerBtn:focus {
		outline: none;
		border: 1px solid rgba($color: $white-color, $alpha: 0.5);
	}
	&__list-box {
		position: fixed;
		width: 100%;
		height: 100vh;
		background-image: $main-green-gradient;
		color: $light-gray-e;
		transform: translateX(-100%);
		transition: transform 0.3s;
	}
	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	&__link {
		display: block;
		font-size: $font-size-36;
		color: $light-gray-e;
		padding: 1rem;
	}

	&__logo-box {
		margin-inline: auto;
	}
	&__logo {
		margin: 0.5rem;
		height: 7rem;
		transition: transform 0.3s;
		&:hover {
			transform: scale(1.1);
		}
	}
}
.hide {
	transform: translateX(0);
}
@media(min-width: 768px){
	.nav{
		&__mobile{
			display: none;
		}
		&__desktop{
			display: flex;
			justify-content: space-between;
			width: 100%;
			max-width: 1700px;
			margin-inline: auto;
		}
		&__desktop-logo-box{
			display: flex;
			align-items: center;
			padding-inline: 2rem;
			padding-bottom: .5rem;
			background-image: $main-orange-gradient;
		}
		&__logo-img{
			height: 5rem;
		}
		&__company-name{
			padding-top: 1rem;
			font-size: $font-size-24;
			color: $main-color;
			text-transform: uppercase;
			font-weight: bold;
		}
		&__desktop-list{
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
		&__desktop-item{
			color: $light-main-2;
		}
		&__desktop-link{
			margin-inline: 1rem;
			padding-inline: 1rem;
			font-size: $font-size-16;
		}
	}
}
@media(min-width: 992px){
	.nav{
		&__logo-item{
			height: 6rem;
		}
		&__company-name{
			font-size: $font-size-32;
			font-weight: 700;
			font-style: italic;
		}
		&__desktop-link{
			margin-inline: 1.5rem;
			padding-inline: 1.5rem;
			font-size: $font-size-20;
		}
	}
}
@media(min-width: 1200px){
	.nav{
		&__logo-item{
			height: 7rem;
		}
		&__company-name{
			font-size: $font-size-36;
		}
		&__desktop-link{
			margin-inline: 2rem;
			padding-inline: 2rem;
		}
	}
}